@import url('https://fonts.googleapis.com/css?family=Roboto:100');
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#first-screen{
    background-color: #BC3633;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
header div:first-child{
    margin-left: 60px;
}
header div:last-child{
    margin-right: 60px;
}
header > div > a{
    border-bottom:1px solid rgba(255,255,255,.3);
    color: #fff;
    text-decoration: none;
    margin: auto 15px auto 15px;
    padding-bottom: 3px;
}

.company-text{
    margin-top: 130px;
    margin-left: 60px;
    padding-bottom: 130px;
    color: #fff;
}
.company-text h1{
    font-size: 6em;
}
.company-text p{
    font-size: 1.6em;
    max-width: 860px;
}
.redcover{
    animation: falling-down .9s cubic-bezier(.5,.025,0,.995);
    background-color: #BC3633;
}
@keyframes falling-down{
    0%{
        -webkit-transform:translate(0,-100%);
        transform:translate(0,-100%)}
    to{
        -webkit-transform:translate(0,0);
        transform:translate(0,0)}
}

.redh2{
    color: red;
    font-size: 2em;
}
main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
}
.post-class > h1{
    width: 550px;
    color: #BC3633;
    font-size: 4em;
    border-bottom: 1px solid #BC3633;
}
.post-class-description{
    color: #000;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.post{
    width: 286px;
    height: 415px;
    margin-left: 40px;
    margin-right: 40px;
}
.post-header > img{
    width: 238px;
    height: 124px;
    padding-bottom: 10px;
}
.post-class-description{
    padding-bottom: 40px;
}
.post-header img{
    width: 263px;
    height: 137px;
}
.date{
    color: #BC3633;
    margin-bottom: 10px;
}
.post-header > a{
    max-width: 230px;
    color: #000;
    text-decoration: underline #BC3633;
    line-height: 25px;
}
.post-excerpt{
    margin-top: 10px;
    color: darkgrey;
}
.research-block h2{
    color: #BC3633;
}
.research-block a{
    color: #000;
    text-decoration: underline #BC3633;
    display: block;
    margin-bottom: 15px;
    font-size: 1.1em;
}

footer{
    padding-top: 200px;
    display: flex;
    flex-wrap: wrap;
}
.sitemap{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.sitemap li:not(:first-child){
    margin-left: 50px;
}
.underline{
    color: #000;
    text-decoration: underline #BC3633;
    margin-bottom: 25px;
}
.sitemap a{
    display: block;
    color: grey;
    margin-top: 15px;

}
.row-link{
    max-width: 400px;
}
.row-link a{
    display: inline-block;
    margin-left: 5px;
    font-size: 0.9em;
}
.contact-us{
    margin-top: 30px;
    margin-left: 40px;
}

@media (max-width: 997px){
    .close{
        display: none;
    }
    header{
        padding-top: 10px;
    }
    .company-text{
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 10px;
    }
    .company-text h1{
        font-size: 2em;
    }
    .company-text p{
        font-size: 1em;
    }
    main{
        padding-top: 0px;
    }
    .post-class > h1{
        color: #BC3633;
        font-size: 2em;
        width: 300px;
        margin-left: 20px;
    }
    .post-class-description{
        margin-left: 20px;
        font-size: 0.85em;
    }
    .post{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .research-block{
        margin-left: 40px;
    }
    .research-block h2{
        padding-top: 30px;
        font-size: 1.2em;
    }
    .research-block a{
        font-size: 0.85em;
    }
    .row-link{
        display: flex;
        flex-wrap: wrap;
    }
    .sitemap{
       flex-direction: column;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .sitemap a{
        margin-top: 10px;
    }
    img[src="MPI_logo.svg"]{
        transform: scale(0.6);
    }
    img[src="img/search.png"]{
        transform: scale(1.2);
    }
    img{
        padding: 10px;
    }
}

@media (min-width: 998px) {
    .close2{
        display: none;
    }
}